.explore-posts {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 40px;
}

.search-box-wrapper {
  position: relative;
  width: 260px;
  display: flex;
  align-items: center;
}
.input-box {
  width: 100%;
  padding: 12px 15px 12px 45px; 
  border-radius: 8px;
  border: 1px solid #000;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 1px;
  color: #555;
  font-size: 15px;
  pointer-events: none; 
  z-index: 5;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

.ex {
  display: flex;
  flex-direction: column; 
  gap: 15px;               
  width: 350px;           
  margin: 20px;           
}

.crete {
  background-color: #5c7cfa;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;  
}

.ex input {
  padding: 12px;
  border: 2px solid #333; 
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 1100px;
}

.group {
  display: flex;
  gap: 10px;
}

.submit, .cancel {
  background-color: #5c7cfa;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-modal {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.delete-modal h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.delete-modal p {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-cancel-modal {
  background-color: #000;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.btn-delete-modal {
  background-color: #ff0000;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.btn-cancel-modal:hover {
  background-color: #333;
}

.btn-delete-modal:hover {
  background-color: #cc0000;
}