.pagess{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.buttonprev
{
  padding: 10px 20px;
  border: none;
  border-radius:5px;
  background: rgba(130, 102, 153, 0.774);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
   }
.buttonnext {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgb(180, 93, 252);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
   }
   .label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  background-color: #f5f5f5;
  padding: 8px 18px;
  border-radius:2px;
  align-items: center;
 }